<!-- START: TASKS -->
<div ng-controller="TasksController as vm">
    <div class="page-title">
        <h2><span class="fa fa-tasks"></span> Tasks <small ng-if="!vm.loading && vm.success">{{vm.buffer.length}} tasks</small></h2>
    </div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="searchForm" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Who are you looking for?"
                                        ng-model="vm.query"
                                        ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                                        ng-required="true"/>
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary"
                                            ng-disabled="searchForm.$invalid | vm.loading"
                                            ng-click="vm.search(vm.query)">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-switch="vm.loading">
            <div class="col-md-12">
                <p ng-switch-when="true">Loading tasks ...</p>
                <div ng-switch-when="false" ng-switch="vm.success">
                    <p ng-switch-when="true" ng-if="vm.buffer.length == 0">No tasks yet.</p>
                    <div ng-switch-when="true" class="scrollable" m-when-scroll-bottom="vm.loadMore()">
                        <ul>
                            <li ng-repeat="task in vm.tasks | filter:vm.query | orderBy:vm.orderBy track by task.id">
                                <a ng-href="#/tasks/{{task.id}}">{{task.name}}</a>
                                <ul>
                                    <li ng-repeat="(key, value) in task">{{key}} = {{value}}</li>
                                <ul>
                            </li>
                        </ul>
                    </div>
                    <p ng-switch-when="false">Ooops! Something went wrong :-(</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: TASKS -->
