<!-- START: TEAMS -->
<div ng-controller="TeamsController as vm">
    <div class="page-title">
        <h2><span class="fa fa-users"></span> Teams <small>{{vm.numteams}} teams</small></h2>
    </div>
    <div class="page-content-wrap">
        <div class="row" ng-switch="vm.loading">
            <div class="col-md-12">
                <p ng-switch-when="true">Loading teams ...</p>
                <div ng-switch-when="false" ng-switch="vm.success">
                    <p ng-switch-when="true" ng-if="vm.numteams == 0">No teams yet.</p>
                    <ul ng-switch-when="true">
                        <li ng-repeat="team in vm.teams | orderBy: 'id' track by team.id">{{team.id}}</li>
                    </ul>
                    <p ng-switch-when="false">Ooops! Something went wrong :-(</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: TEAMS -->
