<!-- START: SETTINGS -->
<div ng-controller="SettingsController as vm">
    <div class="page-title">
        <h2><span class="fa fa-cog"></span> Settings </h2>
    </div>
    <div class="page-content-wrap">
        <div class="row" ng-switch="vm.loading">
            <div class="col-md-12">
                <p ng-switch-when="true">Loading settings ...</p>
                <div ng-switch-when="false" ng-switch="vm.success">
                    <p ng-switch-when="true" ng-if="vm.numsettings == 0">No settings yet.</p>
                    <ul >
                        <li ng-repeat="(key, value) in vm.settings track by key">{{key}} = {{value}}</li>
                    </ul>
                    <p ng-switch-when="false">Ooops! Something went wrong :-(</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: SETTINGS->
