div(role="alert" ng-if="flash" ng-bind="flash.message" ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-info': flash.type === 'info', 'alert-warning': flash.type === 'warning', 'alert-danger': flash.type === 'error' }")
