<!-- START: DIALOG CREATE-CONVERSATION -->
<div class="modal" id="modal-create-conversation" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true"
ng-controller="NewConversationController as vm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="defModalHead">New Conversation</h4>
            </div>
            <div class="modal-body" ng-repeat="user in vm.users">
                <p>{{user.username}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary"
                ng-disabled="vm.selectedUsers.length == 0 || vm.loading"
                ng-click="vm.createConversation()"
                data-dismiss="modal">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.close()">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END: DIALOG CREATE-CONVERSATION -->
