<!-- COMPONENT: MEASUREMENTGOAL -->
<div ng-controller="MeasurementGoalController as vm">
    
    <!-- FORM: MEASUREMENTGOAL -->
    <div class="row">
    <div class="col-md-6 pull-left">
    <h2>Measurement Goal</h2>
    <form name="measurementGoalForm" role="form" class="form-horizontal" ng-submit="vm.submitMeasurementGoal()" novalidate="novalidate">
        <!-- FORM FIELD: OBJECT -->
        <div class="form-group" ng-class="{ 'hash-error': measurementGoalForm.object.$dirty && measurementGoalForm.object.$invalid }">
            <label class="col-md-3 control-label">Object:</label>
            <div class="col-md-9">
                <input class="form-control" name="object" type="text" role="textbox" placeholder="{{vm.measurementGoalDialog.object}}" ng-model="vm.object" ng-class="{ 'error': measurementGoalForm.object.$dirty && measurementGoalForm.object.$invalid }" ng-model-options="{ updateOn: 'blur' }" ng-minlength="3" ng-maxlength="20" required="required"/>
                <div class="form-group-helper" role="alert" ng-messages="measurementGoalForm.object.$error" ng-show="measurementGoalForm.object.$dirty">
                    <div ng-messages-include="dist/views/home/measurementgoal.message.html"></div>
                </div>
            </div>
        </div>
        <!-- FORM FIELD: PURPOSE -->
        <div class="form-group" ng-class="{ 'hash-error': measurementGoalForm.purpose.$dirty && measurementGoalForm.purpose.$invalid }">
            <label class="col-md-3 control-label">Purpose:</label>
            <div class="col-md-9">
                <input class="form-control" name="purpose" type="text" role="textbox" placeholder="{{vm.measurementGoalDialog.purpose}}" ng-model="vm.purpose" ng-class="{ 'error': measurementGoalForm.purpose.$dirty && measurementGoalForm.purpose.$invalid }" ng-model-options="{ updateOn: 'blur' }" ng-minlength="3" ng-maxlength="20" required="required"/>
                <div class="form-group-helper" role="alert" ng-messages="measurementGoalForm.purpose.$error" ng-show="measurementGoalForm.purpose.$dirty">
                    <div ng-messages-include="dist/views/home/measurementgoal.message.html"></div>
                </div>
            </div>
        </div>
        <!-- FORM FIELD: VIEWPOINT -->
        <div class="form-group" ng-class="{ 'hash-error': measurementGoalForm.viewPoint.$dirty && measurementGoalForm.viewPoint.$invalid }">
            <label class="col-md-3 control-label">ViewPoint:</label>
            <div class="col-md-9">
                <input class="form-control" name="viewPoint" type="text" role="textbox" placeholder="{{vm.measurementGoalDialog.viewPoint}}" ng-model="vm.viewPoint" ng-class="{ 'error': measurementGoalForm.viewPoint.$dirty && measurementGoalForm.viewPoint.$invalid }" ng-model-options="{ updateOn: 'blur' }" ng-minlength="3" ng-maxlength="20" required="required"/>
                <div class="form-group-helper" role="alert" ng-messages="measurementGoalForm.viewPoint.$error" ng-show="measurementGoalForm.viewPoint.$dirty">
                    <div ng-messages-include="dist/views/home/measurementgoal.message.html"></div>
                </div>
            </div>
        </div>
        <!-- FORM FIELD: FOCUS -->
        <div class="form-group" ng-class="{ 'hash-error': measurementGoalForm.focus.$dirty && measurementGoalForm.focus.$invalid }">
            <label class="col-md-3 control-label">Focus:</label>
            <div class="col-md-9">
                <input class="form-control" name="focus" type="text" role="textbox" placeholder="{{vm.measurementGoalDialog.focus}}" ng-model="vm.focus" ng-class="{ 'error': measurementGoalForm.focus.$dirty && measurementGoalForm.focus.$invalid }" ng-model-options="{ updateOn: 'blur' }" ng-minlength="3" ng-maxlength="20" required="required"/>
                <div class="form-group-helper" role="alert" ng-messages="measurementGoalForm.focus.$error" ng-show="measurementGoalForm.focus.$dirty">
                    <div ng-messages-include="dist/views/home/measurementgoal.message.html"></div>
                </div>
            </div>
        </div>
        <!-- FORM FIELD: FUNCTION JAVASCRIPT -->
        <div class="form-group" ng-class="{ 'hash-error': measurementGoalForm.functionJavascript.$dirty && measurementGoalForm.functionJavascript.$invalid }">
            <label class="col-md-3 control-label">Interpretation Model:</label>
            <div class="col-md-9">
                <input class="form-control" name="functionJavascript" type="text" role="textbox" placeholder="{{vm.measurementGoalDialog.interpretationModel.functionJavascript}}" ng-model="vm.functionJavascript" ng-class="{ 'error': measurementGoalForm.functionJavascript.$dirty && measurementGoalForm.functionJavascript.$invalid }" ng-model-options="{ updateOn: 'blur' }" ng-minlength="3" ng-maxlength="20" required="required"/>
                <div class="form-group-helper" role="alert" ng-messages="measurementGoalForm.functionJavascript.$error" ng-show="measurementGoalForm.functionJavascript.$dirty">
                    <div ng-messages-include="dist/views/home/measurementgoal.message.html"></div>
                </div>
            </div>
        </div>
        <!-- FORM FIELD: QUERY NOSQL -->
        <div class="form-group" ng-class="{ 'hash-error': measurementGoalForm.queryNoSQL.$dirty && measurementGoalForm.queryNoSQL.$invalid }">
            <label class="col-md-3 control-label">Query NoSQL:</label>
            <div class="col-md-9">
                <input class="form-control" name="queryNoSQL" type="text" role="textbox" placeholder="{{vm.measurementGoalDialog.interpretationModel.queryNoSQL}}" ng-model="vm.queryNoSQL" ng-class="{ 'error': measurementGoalForm.queryNoSQL.$dirty && measurementGoalForm.queryNoSQL.$invalid }" ng-model-options="{ updateOn: 'blur' }" ng-minlength="3" ng-maxlength="20" required="required"/>
                <div class="form-group-helper" role="alert" ng-messages="measurementGoalForm.queryNoSQL.$error" ng-show="measurementGoalForm.queryNoSQL.$dirty">
                    <div ng-messages-include="dist/views/home/measurementgoal.message.html"></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 col-xs-12 control-label">Metrics</label>
            <div class="col-md-6 col-xs-12">
                <span 
                    class="btn btn-info btn-rounded" ng-repeat="tag in vm.measurementGoalDialog.metadata.tags">
                    {{tag}}
                    <i ng-click="vm.removeTagFromMeasurementGoal($index)" 
                        class="glyphicon glyphicon-remove-circle pull-right"></i>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 col-xs-12 control-label">New Tag</label>
            <div class="col-md-6 col-xs-12">
                <input type="text" ng-model="vm.newTag">
                <a ng-click="vm.addTagToMeasurementGoal()"class="btn btn-primary">Add</a>
            </div>
        </div>  

        <div class="form-group">

            <!-- START VERTICAL TABS WITH HEADING -->
            <div class="panel panel-default nav-tabs-vertical accordion">                   
                <div class="panel-heading">
                    <h3 class="panel-title">
                    <a data-toggle="collapse" data-target="#accOneColOne">Metrics</a>
                    <a class="pull-right" ng-click="vm.getApprovedMetrics()" data-toggle="modal" data-target="#modal_large"">Add Metric</a>
                    </h3>
                    <!--<ul class="panel-controls">
                        <li><a class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>                                            
                            <ul class="dropdown-menu">
                                <li><a class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                <li><a class="panel-refresh"><span class="fa fa-refresh"></span> Refresh</a></li>
                            </ul>                                        
                        </li>
                        <li><a class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>-->
                </div>
                <div class="tabs collapse" id="accOneColOne">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" data-target="#metricDialogActive">active</a></li>
                        <li ng-repeat="metric in vm.metricsDialog.slice(1, vm.metricsDialog.length)"><a data-toggle="tab" data-target="#tab{{$index}}">{{$index}}</a></li>
                    </ul>                    
                    <div class="panel-body tab-content">
                        <div class="tab-pane active" id="metricDialogActive">
                            <!--BEGIN ACTIVE TAB DETAIL-->
                             <ul class="list-group border-bottom">
                                <h4>Has Max</h4>
                                <li class="list-group-item">{{vm.metricsDialog[0].hasMax}}</li>
                                <h4>Has Min</h4>
                                <li class="list-group-item">{{vm.metricsDialog[0].hasMin}}</li>
                                <h4>Has User Defined List</h4>
                                <li class="list-group-item">{{vm.metricsDialog[0].hasUserDefinedList}}</li>
                                <span ng-show="vm.metricsDialog[0].hasUserDefinedList === 'True'"><h4>User Defined List</h4>
                                <li ng-repeat="listItem in vm.metricsDialog[0].userDefinedList">{{listItem}}</li></span>
                                <h4>Is Ordered</h4>
                                <li class="list-group-item">{{vm.metricsDialog[0].isOrdered}}</li>
                                <h4>Max</h4>
                                <li class="list-group-item">{{vm.metricsDialog[0].max}}</li>
                                <h4>Min</h4>
                                <li class="list-group-item">{{vm.metricsDialog[0].min}}</li>
                                <h4>Unit</h4>
                                <li class="list-group-item">{{vm.metricsDialog[0].unit}}</li>  
                                <h4>Scale Type</h4>
                                <li class="list-group-item">{{vm.metricsDialog[0].scaleType}}</li>  
                                <h4>Set</h4>
                                <li class="list-group-item">{{vm.metricsDialog[0].set}}</li>  
                                <h4>Tags</h4>
                                <li class="list-group-item" ng-repeat="tag in vm.metricsDialog[{$index}].tags">{{tag}}</li>  
                                <h4>State</h4>
                                <li class="list-group-item">{{vm.metricsDialog[0].metadata.state}}</li>  
                                <h4>Last Version Date</h4>
                                <li class="list-group-item">{{vm.metricsDialog[0].metadata.lastVersionDate}}</li>  
                                <h4>Release Note</h4>
                                <li class="list-group-item">  
                                    <div class="panel-body scroll" style="height: 30px;">     
                                        <p>{{vm.metricsDialog[0].metadata.releaseNote}}</p>
                                    </div>                                   
                                </li>  
                            </ul> 
                        </div>

                        <div class="tab-pane" ng-repeat="metric in vm.metricsDialog.slice(1, vm.metricsDialog.length)" id="tab{{$index}}">
                            <!--BEGIN ACTIVE TAB DETAIL-->
                            <ul class="list-group border-bottom">
                                <h4>Has Max</h4>
                                <li class="list-group-item">{{metric.hasMax}}</li>
                                <h4>Has Min</h4>
                                <li class="list-group-item">{{metric.hasMin}}</li>
                                <h4>Has User Defined List</h4>
                                <li class="list-group-item">{{metric.hasUserDefinedList}}</li>
                                <span ng-show="metric.hasUserDefinedList === 'True'"><h4>User Defined List</h4>
                                <li ng-repeat="listItem in metric.userDefinedList">{{listItem}}</li></span>
                                <h4>Is Ordered</h4>
                                <li class="list-group-item">{{metric.isOrdered}}</li>
                                <h4>Max</h4>
                                <li class="list-group-item">{{metric.max}}</li>
                                <h4>Min</h4>
                                <li class="list-group-item">{{metric.min}}</li>
                                <h4>Unit</h4>
                                <li class="list-group-item">{{metric.unit}}</li>  
                                <h4>Scale Type</h4>
                                <li class="list-group-item">{{metric.scaleType}}</li>
                                <h4>Set</h4>
                                <li class="list-group-item">{{metric.set}}</li>  
                                <h4>Tags</h4>
                                <li class="list-group-item" ng-repeat="tag in metric.tags">{{tag}}</li>  
                                <h4>State</h4>
                                <li class="list-group-item">{{metric.metadata.state}}</li>  
                                <h4>Last Version Date</h4>
                                <li class="list-group-item">{{metric.metadata.lastVersionDate}}</li>  
                                <h4>Release Note</h4>
                                <li class="list-group-item">  
                                    <div class="panel-body scroll" style="height: 30px;">    
                                        <p>{{metric.metadata.releaseNote}}</p>
                                    </div>                                   
                                </li>  
                            </ul>           
                        </div>
                                              
                    </div>
                </div>
            </div>                        
            <!-- END VERTICAL TABS WITH HEADING -->                  
        </div>


        <!-- FORM ACTIONS: SUBMIT, CANCEL -->
        <div class="form-actions">
            <button class="btn btn-primary" type="submit" ng-disabled="measurementGoalForm.$invalid || vm.loading">Submit MeasurementGoal</button>
        </div>
    </form>
    </div>
    <div class="col-md-6 pull-right">
            <h2>Organizational Goal</h2>
            <ul class="list-group border-bottom">
                    <br>
                    <h4>Title</h4>
                    <li class="list-group-item">{{vm.organizationalGoalDialog.title}}</li>
                    <br>
                    <h4>Timeframe</h4>
                    <li class="list-group-item">{{vm.organizationalGoalDialog.timeFrame}}</li>
                    <br>
                    <h4>Object</h4>
                    <li class="list-group-item">{{vm.organizationalGoalDialog.object}}</li>
                    <br>
                    <h4>Focus</h4>
                    <li class="list-group-item">{{vm.organizationalGoalDialog.focus}}</li>
                    <br>
                    <h4>Magnitude</h4>
                    <li class="list-group-item">{{vm.organizationalGoalDialog.magnitude}}</li>
                    <br>
                    <h4>Priority</h4>
                    <li class="list-group-item">{{vm.organizationalGoalDialog.priority}}</li>
                    <br>
                    <h4>OrganizationalGoalState</h4>
                    <li class="list-group-item">{{vm.organizationalGoalDialog.organizationalGoalState}}</li>  
            </ul>    
        </div>
    </div>

    <div class="modal" id="modal_large" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div ng-include="'dist/views/metricator/modal/modal.external.metric.html'">
            </div>
        </div>
    </div>
</div>


