<div ng-controller="MeasurementGoalController as vm">
	<div class="block">
		<form name="measurementGoalForm" role="form" class="form-horizontal" ng-submit="vm.commitcommitChangeState()" novalidate="novalidate">
			<div class="form-group">
			    <label class="col-md-3 col-xs-12 control-label">Note</label>
			    <div class="col-md-6 col-xs-12">
			        <textarea name="inputDescription" class="form-control" rows="5"
			            ng-required="true" ng-minlength="10" 
			            ng-model="vm.sendMessage">    	
		            </textarea>
			    </div>
			</div>
			<!-- FORM ACTIONS: SUBMIT -->
	        <div class="form-actions">
	            
	            <button ng-disabled="measurementGoalForm.$invalid || vm.loading" type="submit" ng-show="vm.isForApproval()" class="btn btn-default padding-2" ng-click="vm.commitChangeState('Pending')">Send for approval</button> <button ng-disabled="measurementGoalForm.$invalid || vm.loading" type="submit" ng-show="vm.isToApprove()" ng-click="vm.commitChangeState('Approved')" class="btn btn-default padding-2" data-dismiss="modal">Approve</button>
			    <button ng-disabled="measurementGoalForm.$invalid || vm.loading" type="submit" ng-show="vm.isToReject()" ng-click="vm.commitChangeState('Rejected')" class="btn btn-default padding-2" data-dismiss="modal">Reject</button>
			    <button ng-disabled="measurementGoalForm.$invalid || vm.loading" type="submit" ng-show="vm.isToSuspend()" ng-click="vm.commitChangeState('Suspended')" class="btn btn-default padding-2" data-dismiss="modal">Suspend</button>
	        </div>
		</form>
	</div>
</div>