<!--<modalmeasurementgoal/>-->
<!-- FORM: MEASUREMENTGOAL -->
<div class="row">
<div class="col-md-6 pull-left padding-2">
<h2><a ng-href="#/measurementgoal">Measurement Goal</a></h2>
<form name="measurementGoalForm" role="form" class="form-horizontal" novalidate="novalidate">
    <!-- FORM FIELD: OBJECT -->
    <div class="form-group" >
        <label class="col-md-3 control-label">Object:</label>
        <div class="col-md-9">
            <input class="form-control-static" name="object" type="text" role="textbox" ng-model="vm.measurementGoalDialog.object"/> 
        </div>
    </div>
    <!-- FORM FIELD: PURPOSE -->
    <div class="form-group" >
        <label class="col-md-3 control-label">Purpose:</label>
        <div class="col-md-9">
            <input class="form-control-static" name="purpose" type="text" role="textbox" ng-model="vm.measurementGoalDialog.purpose"/>
        </div>
    </div>
    <!-- FORM FIELD: VIEWPOINT -->
    <div class="form-group">
        <label class="col-md-3 control-label">ViewPoint:</label>
        <div class="col-md-9">
            <input class="form-control-static" name="viewPoint" type="text" role="textbox" ng-model="vm.measurementGoalDialog.viewPoint" />
        </div>
    </div>
    <!-- FORM FIELD: FOCUS -->
    <div class="form-group">
        <label class="col-md-3 control-label">Focus:</label>
        <div class="col-md-9">
            <input class="form-control-static" name="qualityFocus" type="text" role="textbox" ng-model="vm.measurementGoalDialog.qualityFocus" />
        </div>
    </div>
    <!-- FORM FIELD: FUNCTION JAVASCRIPT -->
    <div class="form-group" >
        <label class="col-md-3 control-label">Interpretation Model:</label>
        <div class="col-md-9">
            <div ui-ace="{
            mode: 'javascript',
            useWrapMode : true
            }" style="height: 200px;" ng-readonly="checked" class="editor form-control-static" name="functionJavascript" ng-model="vm.measurementGoalDialog.interpretationModel.functionJavascript"> </div>
            </div>
    </div>
    <!-- FORM FIELD: QUERY NOSQL -->
    <div class="form-group" >
        <label class="col-md-3 control-label">Query NoSQL:</label>
        <div class="col-md-9">
            <input class="form-control-static" name="queryNoSQL" type="text" role="textbox" ng-model="vm.measurementGoalDialog.interpretationModel.queryNoSQL" />
        </div>
    </div>

    <!-- FORM FIELD: RELEASENOTE -->
    <div class="form-group">
        <label class="col-md-3 col-xs-12 control-label">Release Note</label>
        <div class="col-md-6 col-xs-12">
            <textarea name="inputDescription" class="form-control-static" rows="5"
                ng-model="vm.measurementGoalDialog.metadata.releaseNote"/>
                </div>      
        </div>
    </div>

    <!-- FORM FIELD: TAGS -->
    <div class="form-group">
        <label class="col-md-3 col-xs-12 control-label">Tags</label>
        <div class="col-md-6 col-xs-12">
            <span 
                class="btn btn-info btn-rounded" ng-repeat="tag in vm.measurementGoalDialog.metadata.tags">
                {{tag}}
            </span>
        </div>
    </div>

    <div class="form-group col-md-12 col-xs-12">
        <div class="row">
            <label class="col-md-3 col-xs-12 control-label">Metrics</label>
        </div>
        <br>
        <div class="row">
            <span 
                class="btn btn-info btn-rounded" ng-repeat="metric in vm.metrics" >
                {{metric.metadata.id}}
            </span>
        </div>
        <!--END METRIC TAB-->                  
    </div>

    <div class="form-group col-md-12 col-xs-12">
        <div class="row">
            <label class="col-md-3 col-xs-12 control-label">Context Factors</label>
        </div>
        <br>
        <div class="row">
            <span 
                class="btn btn-info btn-rounded" ng-repeat="contextFactor in vm.contextFactors">
                {{contextFactor.metadata.id}}
            </span>
        </div>
        <!--END CONTEXT FACTOR TAB-->                  
    </div>        

    <div class="form-group col-md-12 col-xs-12">
        <div class="row">
            <label class="col-md-3 col-xs-12 control-label">Assumptions</label>
        </div>
        <br>
        <div class="row">
            <span 
                class="btn btn-info btn-rounded" ng-repeat="assumption in vm.assumptions">
                {{assumption.metadata.id}}
            </span>
        </div>
        <!--END ASSUMPTION TAB-->                  
    </div> 
</form>
</div>

<div class="col-md-5 pull-right">
      <h2>Organizational Goal</h2>
      <!--START ORGANIZATIONAL GOAL TAB-->
      <div class="panel-info" ng-include="'dist/views/metricator/tab/tab.body.organizationalgoal.html'"></div>                          
      <!--END ORGANIZATIONAL GOAL TAB-->
</div>
