<!-- START: PROFILE -->
<div ng-controller="ProfileController as vm">
    <ul class="breadcrumb">
        <li><a ng-href="#/home">Home</a></li>
        <li><a ng-href="#/organization">Organization</a></li>
        <li class="active"><a ng-href="#/profile/{{vm.currUser.id}}">Profile</a></li>
    </ul>
    <div class="page-title">
        <h2><span class="fa fa-user"></span> Profile <small ng-show="!vm.loading && vm.success">{{vm.currUser | userFullnameFormat}}</small></h2>
    </div>
    <div class="page-content-wrap">
        <div class="row" ng-switch="vm.loading">
            <div class="col-md-12">
                <p ng-switch-when="true">Loading user {{vm.currUser.username}} ...</p>
                <div ng-switch-when="false" ng-switch="vm.success">
                    <a type="button" role="button" class="btn btn-default"
                    data-toggle="modal" data-target="#modal-update-profile"
                    ng-switch-when="true"
                    ng-if="globals.user.username == vm.currUser.username">Edit Profile</a>
                    <a type="button" role="button" class="btn btn-default"
                    data-toggle="modal" data-target="#modal-update-password"
                    ng-switch-when="true"
                    ng-if="globals.user.username == vm.currUser.username">Change Password</a>
                    <a type="button" role="button" class="btn btn-default"
                    ng-switch-when="true"
                    ng-href="#/profile/{{vm.currUser.username}}/analytics">View Analytics</a>
                    <ul ng-switch-when="true">
                        <li ng-repeat="(key, value) in vm.currUser">{{key}} = {{value || 'Not available'}}</li>
                    </ul>
                    <p ng-switch-when="false">Ooops! Something went wrong :-( {{vm.errmsg}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- START: MODAL UPDATE PROFILE -->
    <div ng-include="'dist/views/user/update-profile.modal.view.html'"></div>
    <!-- END: MODAL UPDATE PROFILE -->
    <!-- START: MODAL UPDATE PASSWORD -->
    <div ng-include="'dist/views/user/update-password.modal.view.html'"></div>
    <!-- END: MODAL UPDATE PASSWORD -->
</div>
<!-- END: PROFILE -->
