$dark-grey: #1b1e24;

.body-full {

    .page-container {
        background: inherit;

        .page-content {
            background: url('../images/backgrounds/bg.png') left top repeat $dark-grey;
            margin: 0;
        }

    }

}

.scrollable {
    overflow-y: scroll;
}
