body.full {

    .page-container {
        background: inherit;

        .page-content {
            margin: 0;
            background: url("../images/backgrounds/bg.png") left top repeat #1b1e24;
        }

    }

}

div.scrollable {
  height: 100px;
  overflow-y: scroll;
}
