<!-- Metric Dashboard-->
<!-- PAGE TITLE -->
<div class="page-title">
	<h2><span class="fa fa-arrow-circle-o-left"></span> Metrics</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

	<div class="row">
		<div class="col-md-12">

			<div ng-controller="MetricDashboardController as vm">
				<!-- START DEFAULT DATATABLE -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">My Metrics</h3>
						<ul class="panel-controls">
							<li><a ng-click="vm.update()" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
							<li><a ng-click="vm.newMetric()" class="panel-refresh"><span class="fa fa-add"></span></a></li>
						</ul>
					</div>

					<div class="panel-body" >
						<!--<table  class="table datatable">-->
						<table st-table="displayedCollection" st-safe-src="vm.results.metrics" class="table table-striped">
							<thead>
								<tr>
									<th st-sort="id">Id</th>
									<th st-sort="name">Name</th>
									<th st-sort="creationDate">CreationDate</th>
									<th st-sort="lastVersionDate">LastVersionDate</th>
									<th st-sort="releaseNote">ReleaseNote</th>
									<th st-sort="state">State</th>
								</tr>
								<tr>
									<th colspan="6"><input st-search="" class="form-control" placeholder="Global search ..." type="text"/></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="metric in displayedCollection">
									<td>
										<!--#modal_large vm.setModal($parent.$index) id="modal_button"-->
										<button class="btn btn-default btn-rounded" data-toggle="modal" data-target="#modal_large" ng-click="vm.setMetricDialog($index)">{{metric.metadata.id}}</button>
									</td>
									<td>{{metric.metadata.entityType}}</td>
									<td>{{metric.metadata.creationDate}}</td>
									<td>{{metric.metadata.lastVersionDate}}</td>
									<td>{{metric.metadata.releaseNote}}</td>
									<td>{{metric.metadata.state}}</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="5" class="text-center">
										<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>







				<!-- BEGIN METRIC MODAL DIALOG -->

				<div class="modal" id="modal_large" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div
						<div>
							<div ng-include="'dist/views/metricator/modal/modal.metric.html'"></div>
						</div>
					</div>
				</div>
			</div>


</div>
<!-- END DEFAULT DATATABLE -->
</div>
</div>
</div>
