<!-- METRICATOR'S HOME-->
<!-- PAGE TITLE -->
<div class="page-title">                    
	<h2><span class="fa fa-arrow-circle-o-left"></span> Metricator's Dashboard</h2>
</div>
<!-- END PAGE TITLE -->                

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

<div class="row">
<div class="col-md-12">

<div ng-controller="MetricatorController as mtc">
<!-- START DEFAULT DATATABLE -->
<div class="panel panel-default">
    <div class="panel-heading">                                
        <h3 class="panel-title">Active Measurement Goals</h3>
        <ul class="panel-controls">
            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
            <li><a ng-click="mtc.getMeasurementGoals()" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
        </ul>                                
    </div>
    <div class="panel-body">
            <table ng-repeat="result in mtc.results" class="table datatable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>CreationDate</th>
                        <th>LastVersionDate</th>
                        <th>ReleaseNote</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="measurementGoal in result">
                        <td>
                        <!--#modal_large mtc.setModal($parent.$index)-->
                    <button id="modal_button" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#modal_metric" ng-click="mtc.setMeasurementGoalDialog($parent.$index,$index)">{{measurementGoal.metadata.id}}</button>
                        </td>
                        <td>{{measurementGoal.metadata.entityType}}</td>
                        <td>{{measurementGoal.metadata.creationDate}}</td>
                        <td>{{measurementGoal.metadata.lastVersionDate}}</td>
                        <td>{{measurementGoal.metadata.releaseNote}}</td>
                        <td>{{measurementGoal.metadata.state}}</td>
                    </tr>
                </tbody>
            </table>
        </div>   
    </div>

    <!-- BEGIN MEASUREMENT GOAL MODAL DIALOG -->

            <div class="modal" id="modal_measurementGoal" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalHead">Measurement Goal</h4>
            </div>
            <div class="modal-body">
            <h2>Measurement Goal</h2>
            <ul class="list-group border-bottom">
                <h4>Name</h4>
                    <li class="list-group-item">{{mtc.measurementGoalDialog.name}}</li>
                    <h4>Focus</h4>
                    <li class="list-group-item">{{mtc.measurementGoalDialog.focus}}</li>
                    <h4>Object</h4>
                    <li class="list-group-item">{{mtc.measurementGoalDialog.object}}</li>
                    <h4>Purpose</h4>
                    <li class="list-group-item">{{mtc.measurementGoalDialog.purpose}}</li>
                    <h4>ViewPoint</h4>
                    <li class="list-group-item">{{mtc.measurementGoalDialog.viewPoint}}</li>
                    
                    <h3>Interpretation Model</h3>
                        <h4 class="panel-title">Function Javascript :</h4>
                        <li class="list-group-item">
                        <div class="panel-body scroll" style="height: 30px;">         
                            <p>{{mtc.measurementGoalDialog.interpretationModel.functionJavascript}}
                        </div>                                   
                        </li>
                        <h4 class="panel-title">Function Javascript :</h4>
                        <li class="list-group-item">
                        <div class="panel-body scroll" style="height: 30px;">         
                            <p>{{mtc.measurementGoalDialog.interpretationModel.queryNoSQL}}</p>
                        </div>
                    </li>        
            </ul>                           
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       </div>
        </div>
    </div>
    </div>
    <!-- END MEASUREMENT GOAL MODAL DIALOG -->

     <!-- BEGIN METRIC MODAL DIALOG -->

            <div class="modal" id="modal_metric" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalHead">Metric</h4>
            </div>
            <div class="modal-body">
            <h2>Metric</h2>
            <ul class="list-group border-bottom">
                <h4>Has Max</h4>
                    <li class="list-group-item">{{mtc.metricDialog.hasMax}}</li>
                    <h4>Has Min</h4>
                    <li class="list-group-item">{{mtc.metricDialog.hasMin}}</li>
                    <h4>Has User Defined List</h4>
                    <li class="list-group-item">{{mtc.metricDialog.hasUserDefinedList}}</li>
                    <h4>Is Ordered</h4>
                    <li class="list-group-item">{{mtc.metricDialog.isOrdered}}</li>
                    <h4>Max</h4>
                    <li class="list-group-item">{{mtc.metricDialog.max}}</li>
                    <h4>Min</h4>
                    <li class="list-group-item">{{mtc.metricDialog.min}}</li>
                    <h4>Unit</h4>
                    <li class="list-group-item">{{mtc.metricDialog.unit}}</li>  
                    <h4>Scale Type</h4>
                    <li class="list-group-item">{{mtc.metricDialog.scaleType}}</li>  
                    <h4>Set</h4>
                    <li class="list-group-item">{{mtc.metricDialog.set}}</li>  
                    <h4>Tags</h4>
                    <li class="list-group-item" ng-repeat="tag in mtc.metricDialog.tags">{{tag}}</li>  
                    <h4>State</h4>
                    <li class="list-group-item">{{mtc.metricDialog.state}}</li>  
                    <h4>Last Version Date</h4>
                    <li class="list-group-item">{{mtc.metricDialog.lastVersionDate}}</li>  
                    <h4>Release Note</h4>
                    <li class="list-group-item">  
                        <div class="panel-body scroll" style="height: 30px;">         
                            <p>{{mtc.metricDialog.releaseNote}}
                        </div>                                   
                    </li>  
            </ul>                           
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       </div>
        </div>
    </div>
    </div>
    <!-- END METRIC MODAL DIALOG -->

         <!-- BEGIN QUESTION MODAL DIALOG -->

            <div class="modal" id="modal_question" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalHead">Question</h4>
            </div>
            <div class="modal-body">
            <h2>Question</h2>
            <ul class="list-group border-bottom">
                <h4>Focus</h4>
                    <li class="list-group-item">{{mtc.questionDialog.focus}}</li>
                    <h4>Subject</h4>
                    <li class="list-group-item">{{mtc.questionDialog.subject}</li>
                    <h4>Description</h4>
                    <li class="list-group-item">{{mtc.questionDialog.description}}</li> 
                    <h4>Tags</h4>
                    <li class="list-group-item" ng-repeat="tag in mtc.questionDialog.tags">{{tag}}</li> 
                    <h4>State</h4>
                    <li class="list-group-item">{{mtc.questionDialog.state}}</li>  
                    <h4>Last Version Date</h4>
                    <li class="list-group-item">{{mtc.questionDialog.lastVersionDate}}</li>  
                    <h4>Creation Date</h4>
                    <li class="list-group-item">{{mtc.questionDialog.creationDate}}</li> 
                    <h4>Release Note</h4>
                    <li class="list-group-item">  
                        <div class="panel-body scroll" style="height: 30px;">         
                            <p>{{mtc.questionDialog.releaseNote}}
                        </div>                                   
                    </li>  
            </ul>                           
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       </div>
        </div>
    </div>
    </div>
    <!-- END METRIC MODAL DIALOG -->

</div>
<!-- END DEFAULT DATATABLE -->
</div>
</div>
</div>                                

</div>
<!-- PAGE CONTENT WRAPPER --> 

        <!-- ANGULAR SCRIPTS -->
        <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
        <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="vendors/angular-cookies/angular-cookies.min.js"></script>
        <script type="text/javascript" src="vendors/angular-messages/angular-messages.min.js"></script>
        <script type="text/javascript" src="vendors/angular-flash-alert/dist/angular-flash.min.js"></script>
        <script type="text/javascript" src="vendors/angular-mocks/angular-mocks.js"></script>

        <!-- THEME: VENDORS SCRIPTS -->
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/bootstrap/bootstrap.min.js"></script>

        <!-- THEME: THIS PAGE SCRIPTS -->
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/icheck/icheck.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/scrolltotop/scrolltopcontrol.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/morris/raphael-min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/morris/morris.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/rickshaw/d3.v3.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/rickshaw/rickshaw.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/bootstrap/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/owl/owl.carousel.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/moment.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/daterangepicker/daterangepicker.js"></script>

        <!-- THEME: MAIN SCRIPTS -->
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/actions.js"></script>

        <!-- APP SCRIPTS -->
        <script type="text/javascript" src="dist/scripts/app.js"></script>


<!-- THIS PAGE PLUGINS -->
    <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/datatables/jquery.dataTables.min.js"></script>    
<!-- END PAGE PLUGINS -->
