<!-- START: METRICS -->
<div ng-controller="MetricsController as vm">
   <ul class="breadcrumb">
      <li><a ng-href="#/home">Home</a></li>
      <li class="active"><a ng-href="#/metrics">Metrics</a></li>
   </ul>


   <div class="content-frame">
      <!-- START: FRAME-TOP -->
      <div class="content-frame-top">
         <div class="page-title">
            <h2><span class="fa fa-bullseye"></span> Metrics <small>{{vm.buffer.length}} running</small></h2>

         </div>

           <div class="pull-right">
 <h2><label class="switch switch-big">  <input type="checkbox" ng-model="vm.mine" ng-click="vm.update()"><span></span>        </label><small  ng-show="vm.mine">   My Metrics</small><small  ng-show="!vm.mine">   All Metrics</small></h2>
               <button class="btn btn-danger"
               data-toggle="modal" data-target="#modal-create-conversation"><span class="fa fa-pencil"></span> New</button>
               <button class="btn btn-info" ng-click="vm.reset()"
               ><span class="fa fa-refresh"></span> Reset</button>
               <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
           </div>
      </div>




   <div class="page-content-wrap">
      <div class="row">
           <div class="col-md-12">
               <div class="panel panel-default">
                   <div class="panel-body">
                       <form name="searchForm" class="form-horizontal">
                           <div class="form-group">
                              <div class="col-md-12">
                                   <div class="input-group">
                                       <div class="input-group-addon">
                                           <span class="fa fa-search"></span>
                                       </div>
                                       <input type="text" class="form-control" placeholder="What Metric are you looking for?"
                                       ng-model="vm.query"
                                       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"/>
                                       <div class="input-group-btn">
                                           <button class="btn btn-primary"
                                           ng-disabled="!vm.query || vm.loading"
                                           ng-click="vm.search(vm.query)">Search</button>
                                       </div>
                                   </div>
                              </div>
                           </div>
                       </form>
                   </div>
               </div>
           </div>
      </div>

      <div class="row" ng-switch="vm.loading">
           <div class="col-md-12">
               <p ng-switch-when="true">Loading metrics ...</p>
               <div ng-switch-when="false" ng-switch="vm.success">
                   <p ng-switch-when="true" ng-if="vm.metrics.length == 0">No metrics yet.</p>
                   <div ng-switch-when="true" class="scrollable" m-when-scroll-bottom="vm.loadMore()">
                       <ul>
                           <li ng-repeat="metric in vm.metrics | filter:vm.query | orderBy:vm.orderBy track by metric.metadata.id">
                              <a ng-href="#/metrics/{{metric.metadata.id}}">{{metric.name}}</a>
                              <ul>
                                   <li ng-repeat="(key, value) in metric">{{key}} = {{value}}</li>
                              </ul>
                           </li>
                       </ul>
                       <div class="row">
                           <div class="col-lg-1 col-centered">
                              <button type="button" class="btn btn-default" ng-show="vm.idx < vm.buffer.length" ng-click="vm.loadMore()">Load More</button>
                           </div>
                       </div>
                   </div>
                   <p ng-switch-when="false">Ooops! Something went wrong :-( {{vm.errmsg}}</p>
               </div>
           </div>
      </div>
   </div>
   </div>
</div>
<!-- END: METRICS -->
