<!-- START: ASSIGN MGS -->
<div class="modal" id="modal-assignmgs" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true" ng-controller="GraphController as vm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="defModalHead">Assign Measurement Goal</h4>
            </div>
            <div class="modal-body">
                <form name="MgsForm" role="form" class="form-horizontal"> 
                    <div class="form-group">
                        <label class="col-md-1 control-label">M.Goal</label>
                        <div class="col-md-11">                                                                      
                            <select class="form-control">
                                <option ng-repeat="x in vm.created_mgs">{{x.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- CONTACT LIST METRICATORS -->
                            <h5 style="color:#757575;" class="text-center">METRICATORS</h5>
                            <div class="list-group list-group-contacts" ng-repeat="x in vm.metricators">
                                <a class="list-group-item">    
                                    <span class="contacts-title">{{x.firstname}} {{x.lastname}}</span>
                                </a>
                                <br>                              
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- CONTACT LIST QUESTIONERS -->
                            <h5 style="color:#757575;" class="text-center">QUESTIONERS</h5>
                            <div class="list-group list-group-contacts" ng-repeat="x in vm.questioners">
                                <a class="list-group-item">    
                                    <span class="contacts-title">{{x.firstname}} {{x.lastname}}</span>
                                </a>                              
                                <br>
                            </div>
                        </div>
                    </div>
                </form>
                <br>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success"
                ng-click=""
                data-dismiss="modal">Assign</button>
            </div>
        </div>
    </div>
</div>
<!-- END: DIALOG ASSIGN MEASUREMENT GOAL -->